{% extends 'form_container.html' %}

{% block form_block %}
    <form action="{{url('change_pass', ident=ident)}}" method="post">
        {% for pfield in passwdform %}
        <div class="row {% if pfield.widget.input_type == 'hidden' %} d-none {% endif %}">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 mb-3">
                 {{pfield.label}}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-3">
                 {{pfield}}
            </div>
        </div>
        {% endfor %}

        {% include 'form_buttons.html' %}

    </form>
{% endblock %}