{% extends 'main.html' %}

{% block content %}

<div class="container-fluid container-main">
{% if page %}
   <table class="table table-striped table-bordered table-main">
       <thead>
       <tr>
        {% for theader in theaders  %}
        <th>{{theader}}</th>
         {% endfor %}
        <th>Действия</th>
        </tr>
        </thead>
        <tbody>

        {% for row in page  %}
         <tr>
            {% for item in row.values()  %}
               <td>{% if item %}{{item}}{% endif %} </td>
            {% endfor %}

             <td><a href="{{request.rel_url}}{{row.id}}/">Изменить</a></td>
         </tr>
         {% endfor %}

         </tbody>

   </table>

    {% include 'pagination.html'%}

{% else %}
    <span> Записей нет</span>


{% endif %}
</div>



{% endblock %}


